{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sertifikat</title>
  <style>
    body {
      margin: 0;
      background: #f5f7fa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: 10px;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 90vh;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }

    @media (max-width: 768px) {
      img { max-height: none; width: 100%; }
    }


  </style>
</head>
<body>
  {% if certificate.certificate_image %}
    <img src="{{ certificate.certificate_image.url }}" alt="Sertifikat">
  {% else %}
    <p>Sertifikat rasmi mavjud emas 😢</p>
  {% endif %}
</body>
</html>
